<div class="container">
    <div class="event-container center-align row justify-space-between-md">
        <div class="event-card card-panel grey lighten-5 z-depth-1">
            <img class="center-align" id="eventImg" src="/photos/{{event.filename}}">
            <h4><b>{{event.event_name}}</b> Hosted by {{event.hostedBy}} </h4>
            <div class="card-content">
                <p><b>About this event: </b>{{event.description}}</p>
                <p><b>Date: </b>{{ format_date event.event_date}}</p>
                <p><b>Time: </b>{{event.event_time}}</p>
                <p><b>Location: </b>{{event.event_loc}}</p>
            </div>
            <div class="card-action">
                <a href="#">RSVP (Coming Soon)</a>
            </div>
        </div>
    </div>
</div>