<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src="photos/wedding.png" alt="A bride and groom" class=" responsive-img">
        </div>
        <div class="col s10">
            <h1>Weddings</h1>
            <p class="black-text">
            Create a wedding page in minutes to share with friends and family.<br><br>
            We'll list your event name, a cute little description of the day, date, 
            location and include a stock picture until you upload your own! <br><br>
            To share your event just share your unique URL with those you'd like to invite!
            </p>
            <ul>
                {{#if logged_in}}
                <li><a href="/newEvent" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{else}}
                <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src="photos/birthday.png" alt="Happy Birthday banner with balloons and black background" class=" responsive-img">
        </div>
        <div class="col s10">
            <h1>Birthdays</h1>
            <p class="black-text">
            Create a birthday page in minutes to share with friends and family.<br><br>
            We'll list your event name, a cute little description of the birthday event, date, 
            location and include a stock picture until you upload your own! <br><br>
            To share your event just share your unique URL with those you'd like to invite!
            </p>
            <ul>
                {{#if logged_in}}
                <li><a href="/newEvent" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{else}}
                <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src="photos/holiday.png" alt="Gift box torn open to reveal Holiday Party banner" class=" responsive-img">
        </div>
        <div class="col s10">
            <h1>Holiday</h1>
            <p class="black-text">
            Create a holiday party page in minutes to share with friends, family or coworkers.<br><br>
            We'll list your event name, a description of the event, date, 
            location and include a stock picture until you upload your own! <br><br>
            To share your event just share your unique URL with those you'd like to invite!
            </p>
            <ul>
                {{#if logged_in}}
                <li><a href="/newEvent" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{else}}
                <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src="photos/MovieNight.png" alt="Film role with popcorn and 3D glasses" class=" responsive-img">
        </div>
        <div class="col s10">
            <h1>Movie Nights</h1>
            <p class="black-text">
            Create a Movie Nights page in minutes to share with friends, family, coworkers or the community.<br><br>
            We'll list your event name, a description of the movie playing, date, 
            location and include a stock picture until you upload your own! <br><br>
            To share your event just share your unique URL with those you'd like to invite!
            </p>
            <ul>
                {{#if logged_in}}
                <li><a href="/newEvent" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{else}}
                <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src="photos/recycle.png" alt="Recycle & Win community sign with a boy and girl gardening" class=" responsive-img">
        </div>
        <div class="col s10">
            <h1>Community Recycling Events</h1>
            <p class="black-text">
            Create a community recycling event in minutes to share with friends, family, coworkers, the community and more!<br><br>
            We'll list your event name, a description of the day and/or cause, date, 
            location and include a stock picture until you upload your own! <br><br>
            To share your event just share your unique URL with those you'd like to invite!
            </p>
            <ul>
                {{#if logged_in}}
                <li><a href="/newEvent" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{else}}
                <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
        <div class="col s2">
            <img src="photos/volunteer.png" alt="10 adults lined up with Volunteers written on their shirts" class=" responsive-img">
        </div>
        <div class="col s10">
            <h1>Volunteer Opportunities</h1>
            <p class="black-text">
            Create a volunteer event in minutes to share with friends, family, coworkers, the community and more.<br><br>
            We'll list your event name, a description of the event and/or cause, date, 
            location and include a stock picture until you upload your own! <br><br>
            To share your event just share your unique URL with those you'd like to invite!
            </p>
            <ul>
                {{#if logged_in}}
                <li><a href="/newEvent" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{else}}
                <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Started</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </div>
</div>

